# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database connection URL (MySQL, PostgreSQL, SQLite, SQL Server, etc.)
DATABASE_URL="mysql://username:password@host:3306/database_name"

# Nodemailer SMTP Email Credentials (used for contact page submissions)
EMAIL="info@your-domain.com"
PASSWORD="your-app-specific-smtp-password"

# Cloudinary Storage configurations
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
NEXT_PUBLIC_CLOUDINARY_PRESET_NAME="your-cloudinary-preset-name"
